<html>
    <head>

        <title>Product</title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap337/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
    .header{
        background-image: url("/assets/images/BGLOGO.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        text-shadow: 10px 10px 10px #000000;


    }
    H1{
        color: white;
    }
    body{
        background-image: url("/assets/images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;




    }
    nav{
        width: 100%;
        height: 50px;
        background-color: rgba(0,0,0,0.8);
    }
    footer{
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 100%;
    }

    .pager{

    }
    th{
        text-align: center;
    }

        table{
            width: 100%;
            height: 100%;
        }
    </style>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assets/images/Logo.png" width="200px" height="200px">
                        </div>
                        <div class="bgheader" style="background-color: rgba(255,255,255,0.2)"; >
                            <br><br><br><br><br><H1>TREK Bike</H1> <br><br>
                        </div>
                    </div>


                </div>
                <div class="headbar">
                    <div class="row">
                        <nav>

                    </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-6 col-lg-3" style="background-color: #9acfea">
                        <div class="list-group" style="height: 100%">
                            <a href="/" class="list-group-item">Home</a>
                            <a href="/product" class="list-group-item active">Product</a>
                            <a href="/promotion" class="list-group-item">Promotion</a>
                            <a href="/bikes" class="list-group-item">Bike</a>

                        </div>

                    </div>
                    <div class="col-md-10 col-xs-6 col-lg-9">
                        <h2>Welcome to Trek</h2>
                        <h4>Trek แบรนด์จักรยานระดับโลก ผู้ผลิตและผู้นำอันดับ 1 ที่มุ่งมั่นในการออกแบบ พัฒนาจักรยานทุกรุ่น ทุกโมเดล ได้อย่างโดดเด่นเป็นที่ยอมรับในเรื่องคุณภาพ <br>
                            Trek สร้างนวัตกรรมจักรยานด้วยเทคโนโลยีที่เป็นลิขสิทธิ์เฉพาะ จากประสบการณ์ยาวนานและความสำเร็จที่พิสูจน์แล้วทั้งในสนามการแข่งขันและการใช้งานจริง<br>
                            Trek ยังคงมุ่งมั่นในการสร้างสรรค์จักรยานที่ยอดเยี่ยม เพื่อยกระดับคุณภาพการปั่นของนักจักรยานทั่วโลก<br>
                            Trek มีผลิตภัณฑ์จักรยานที่ครอบคลุมการใช้ทุกประเภท ตั้งแต่จักรยานเด็ก จักรยานถนน(เสือหมอบ) จักรยานเมาเท่นไบค์(เสือภูเขา) จักรยานสำหรับปั่นในเมืิตประจำวัน จักรยานไฟฟ้า ฯลฯ</h4><br>
                        <h5>เลือกสินค้า</h5>

                        <table>
                            <tr>
                                <th><img src="/assets/images/Roscoe6.jpg"style="width: 100%" ></th>
                                <th><img src="/assets/images/Roscoe6W.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Roscoe7.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Roscoe7W.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Roscoe 6 [2019]<br>฿35,000<br></th>
                                <th>Roscoe 6 Women's [2019]<br>฿34,559<br></th>
                                <th>Roscoe 7<br>฿39,599<br></th>
                                <th>Roscoe 7 Women's<br>฿39,599<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Front Suspension:</b>SR Suntour XCM 32 LO</td>
                                <td>&emsp;<b>Front Suspension:</b>SR Suntour XCM 32 LO</td>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Shifters:</b>Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;<b>Shifters:</b>Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;<b>Shifters:</b>Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;<b>Shifters:</b>Shimano Deore M6000, 10 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Weight:</b>17.5˝ - 15.29 kg / 33.71 lbs</td>
                                <td>&emsp;<b>Weight:</b>15.5˝ - 15.19 kg / 33.48 lbs</td>
                                <td>&emsp;<b>Weight:</b>17.5" - 13.47 kg / 29.70 lbs</td>
                                <td>&emsp;<b>Weight:</b>15.5" - 13.20 kg / 29.10 lbs</td>
                            </tr>



                            <tr>
                                <th><img src="/assets/images/Roscoe719.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Roscoe8.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/ROSCOE8W.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Roscoe819.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Roscoe 7 [2019]<br>฿41,399<br></th>
                                <th>Roscoe 8<br>฿34,559<br></th>
                                <th>Roscoe 8 Women's<br>฿45,324<br></th>
                                <th>Roscoe 8 [2019]<br>฿52,884<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                                <td>&emsp;<b>Frame:</b>Alpha Gold Aluminum</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                                <td>&emsp;<b>Front Suspension:</b>RockShox Judy Silver TK</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Shifters:</b>Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;<b>Shifters:</b>SRAM NX, 11 speed</td>
                                <td>&emsp;<b>Shifters:</b>SRAM NX, 11 speed</td>
                                <td>&emsp;<b>Shifters:</b>SRAM NX Eagle, 12 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;<b>Weight:</b>17.5˝ - 14.23 kg / 31.38 lbs</td>
                                <td>&emsp;<b>Weight:</b>17.5" - 13.93 kg / 30.70 lbs</td>
                                <td>&emsp;<b>Weight:</b>15.5" - 13.65 kg / 30.10 lbs</td>
                                <td>&emsp;<b>Weight:</b>17.5˝ - 14.22 kg / 31.34 lbs</td>
                            </tr>

                        </table>

                        <div class="pager">
                            <a href="/product">1</a>
                            <a href="/product2">2</a>
                            <a href="/product3">3</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="background-color:rgba(0,0,0,0.8)">
                            <footer>footer</footer>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>