<html>

    <head>
        <title>Product</title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap337/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
    .header{
        background-image: url("/assets/images/BGLOGO.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        text-shadow: 10px 10px 10px #000000;


    }
    H1{
        color: white;
    }
    body{
        background-image: url("/assets/images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;




    }
    nav{
        width: 100%;
        height: 50px;
        background-color: rgba(0,0,0,0.8);
    }
    footer{
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }

    .pager{

    }
    th{
        text-align: center;
        font-size: 18px;
    }
    table{
        width: 100%;
        height: 100%;
    }


    </style>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assets/images/Logo.png" width="200px" height="200px">
                        </div>
                        <div class="bgheader" style="background-color: rgba(255,255,255,0.2)"; >
                            <br><br><br><br><br><H1>TREK Bike</H1> <br><br>
                        </div>
                    </div>


                </div>
                <div class="headbar">
                    <div class="row">
                        <nav>

                    </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-6 col-lg-3" style="background-color: #9acfea">
                        <div class="list-group">
                            <a href="/" class="list-group-item ">Home</a>
                            <a href="/product" class="list-group-item active">Product</a>
                            <a href="/promotion" class="list-group-item ">Promotion</a>
                            <a href="/bikes" class="list-group-item">Bike</a>

                        </div>

                    </div>
                    <div class="col-md-10 col-xs-6 col-lg-9">
                        <h2>Welcome to Trek</h2>
                        <h4>Trek แบรนด์จักรยานระดับโลก ผู้ผลิตและผู้นำอันดับ 1 ที่มุ่งมั่นในการออกแบบ พัฒนาจักรยานทุกรุ่น ทุกโมเดล ได้อย่างโดดเด่นเป็นที่ยอมรับในเรื่องคุณภาพ <br>
                            Trek สร้างนวัตกรรมจักรยานด้วยเทคโนโลยีที่เป็นลิขสิทธิ์เฉพาะ จากประสบการณ์ยาวนานและความสำเร็จที่พิสูจน์แล้วทั้งในสนามการแข่งขันและการใช้งานจริง<br>
                            Trek ยังคงมุ่งมั่นในการสร้างสรรค์จักรยานที่ยอดเยี่ยม เพื่อยกระดับคุณภาพการปั่นของนักจักรยานทั่วโลก<br>
                            Trek มีผลิตภัณฑ์จักรยานที่ครอบคลุมการใช้ทุกประเภท ตั้งแต่จักรยานเด็ก จักรยานถนน(เสือหมอบ) จักรยานเมาเท่นไบค์(เสือภูเขา) จักรยานสำหรับปั่นในเมืิตประจำวัน จักรยานไฟฟ้า ฯลฯ</h4><br>
                        <h5>เลือกสินค้า</h5>
                        <table>
                            <tr>
                                <th><img src="/assets/images/FuelEX7291923590.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Remedy7275.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Remedy9275.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX8291923593.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Fuel EX 7 29 [2019]<br>฿89,067<br></th>
                                <th>Remedy 7 27.5<br>฿98,967<br></th>
                                <th>Remedy 9 Race Shop Limited<br>฿108,867<br></th>
                                <th>Fuel EX 8 29 [2019]<br>฿108,867<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                            </tr>
                            <tr>
                                <td>&emsp;Front Suspension:RockShox Reba RL</td>
                                <td>&emsp;Front Suspension:RockShox Yari RC</td>
                                <td>&emsp;Front Suspension:RockShox Lyrik RC</td>
                                <td>&emsp;Front Suspension:Fox Rhythm 34 Float</td>
                            </tr>
                            <tr>
                                <td>&emsp;Shifters:SRAM NX Eagle, 12 speed</td>
                                <td>&emsp;Shifters:SRAM NX, 11 speed</td>
                                <td>&emsp;Shifters:SRAM X1, 11 speed</td>
                                <td>&emsp;Shifters:SRAM GX Eagle, 12 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;Weight:17.5˝ - 13.84 kg / 30.52 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.61 kg / 32.20 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.15 kg / 31.20 lbs</td>
                                <td>&emsp;Weight:17.5˝ - 13.79 kg / 30.40 lbs</td>
                            </tr>


                            <tr>
                                <th><img src="/assets/images/FuelEX829.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX829EAG.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX8W1923602.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Session99DH275RSL.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Fuel EX 8 29 XT<br>฿105,567<br></th>
                                <th>Fuel EX 8 29<br>฿108,867<br></th>
                                <th>Fuel EX 8 Women's [2019]<br>฿113,817<br></th>
                                <th>Session 9.9 DH 27.5 RC Limited<br>฿264,000<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:OCLV Mountain Carbon main frame</td>
                            </tr>
                            <tr>
                                <td>&emsp;Front Suspension:Fox Rhythm 34 Float</td>
                                <td>&emsp;Front Suspension:Fox Performance Float</td>
                                <td>&emsp;Front Suspension:Fox Rhythm 34 Float</td>
                                <td>&emsp;Front Suspension:Fox Factory 40 FIT RC2</td>
                            </tr>
                            <tr>
                                <td>&emsp;Shifters:Shimano Deore XT M8000, 11 speed</td>
                                <td>&emsp;Shifters:SRAM GX Eagle, 12 speed</td>
                                <td>&emsp;Shifters:SRAM GX Eagle, 12 speed</td>
                                <td>&emsp;Shifters:Shimano Saint, 10 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;Weight:17.5" - 14.20 kg / 31.30 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.11 kg / 31.10 lbs</td>
                                <td>&emsp;Weight:15.5˝ - 14.53 kg / 32.03 lbs</td>
                                <td>&emsp;Weight:M – 15.22 kg / 33.55 lbs</td>
                            </tr>

                        </table>
                        <div class="pager">
                            <a href="/product">1</a>
                            <a href="/product2">2</a>
                            <a href="/product3">3</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="background-color:rgba(0,0,0,0.8)">
                            <footer>footer</footer>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>