<html>

    <head>
        <title>Product</title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap337/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
    .header{
        background-image: url("/assets/images/BGLOGO.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        text-shadow: 10px 10px 10px #000000;


    }
    H1{
        color: white;
    }
    body{
        background-image: url("/assets/images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;




    }
    nav{
        width: 100%;
        height: 50px;
        background-color: rgba(0,0,0,0.8);
    }
    footer{
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }

    .pager{

    }
    th{
        text-align: center;
        font-size: 18px;
    }
    table{
        width: 100%;
        height: 100%;
    }


    </style>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assets/images/Logo.png" width="200px" height="200px">
                        </div>
                        <div class="bgheader" style="background-color: rgba(255,255,255,0.2)"; >
                            <br><br><br><br><br><H1>TREK Bike</H1> <br><br>
                        </div>
                    </div>


                </div>
                <div class="headbar">
                    <div class="row">
                        <nav>

                    </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-6 col-lg-3" style="background-color: #9acfea">
                        <div class="list-group">
                            <a href="/" class="list-group-item">Home</a>
                            <a href="/product" class="list-group-item active">Product</a>
                            <a href="/promotion" class="list-group-item">Promotion</a>
                            <a href="/bikes" class="list-group-item">Bike</a>

                        </div>

                    </div>
                    <div class="col-md-10 col-xs-6 col-lg-9">
                        <h2>Welcome to Trek</h2>
                        <h4>Trek แบรนด์จักรยานระดับโลก ผู้ผลิตและผู้นำอันดับ 1 ที่มุ่งมั่นในการออกแบบ พัฒนาจักรยานทุกรุ่น ทุกโมเดล ได้อย่างโดดเด่นเป็นที่ยอมรับในเรื่องคุณภาพ <br>
                            Trek สร้างนวัตกรรมจักรยานด้วยเทคโนโลยีที่เป็นลิขสิทธิ์เฉพาะ จากประสบการณ์ยาวนานและความสำเร็จที่พิสูจน์แล้วทั้งในสนามการแข่งขันและการใช้งานจริง<br>
                            Trek ยังคงมุ่งมั่นในการสร้างสรรค์จักรยานที่ยอดเยี่ยม เพื่อยกระดับคุณภาพการปั่นของนักจักรยานทั่วโลก<br>
                            Trek มีผลิตภัณฑ์จักรยานที่ครอบคลุมการใช้ทุกประเภท ตั้งแต่จักรยานเด็ก จักรยานถนน(เสือหมอบ) จักรยานเมาเท่นไบค์(เสือภูเขา) จักรยานสำหรับปั่นในเมืิตประจำวัน จักรยานไฟฟ้า ฯลฯ</h4><br>
                        <h5>เลือกสินค้า</h5>
                        <table >
                            <tr>
                                <th><img src="/assets/images/Roscoe8W19.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Stache5.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX519.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/Fuel_EX529.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Roscoe 8 Women's [2019]<br>฿35,000<br></th>
                                <th>Stache 5<br>฿59,037<br></th>
                                <th>Fuel EX 5 29 [2019]<br>฿65,967<br></th>
                                <th>Fuel EX 5 29<br>฿69,267<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;Frame:Alpha Gold Aluminum</td>
                                <td>&emsp;Frame:Alpha Gold Aluminum</td>
                                <td>&emsp;Frame:Alpha Gold Aluminum</td>
                                <td>&emsp;Frame:Alpha Gold Aluminum</td>
                            </tr>
                            <tr>
                                <td>&emsp;Front Suspension:RockShox Judy Silver TK</td>
                                <td>&emsp;Front Suspension:Manitou Machete 32 Comp</td>
                                <td>&emsp;Front Suspension:RockShox Recon RL</td>
                                <td>&emsp;Front Suspension:RockShox Recon RL</td>
                            </tr>
                            <tr>
                                <td>&emsp;Shifters:SRAM NX Eagle, 12 speed</td>
                                <td>&emsp;Shifters:Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;Shifters:Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;Shifters:Shimano Deore M6000, 10 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;Weight:15.5˝ - 14.86 kg / 32.76 lbs</td>
                                <td>&emsp;Weight:17.5" - 13.38 kg / 29.50 lbs</td>
                                <td>&emsp;Weight:17.5˝ - 14.74 kg / 32.50 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.65 kg / 32.30 lbs</td>
                            </tr>


                            <tr>
                                <th><img src="/assets/images/Stache7.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FUELEX5PLUS.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX5W.jpg"style="width: 100%"></th>
                                <th><img src="/assets/images/FuelEX729.jpg"style="width: 100%"></th>
                            </tr>
                            <tr>
                                <th>Stache 7<br>฿74,217<br></th>
                                <th>Fuel EX 5 27.5 Plus<br>฿77,517<br></th>
                                <th>Fuel EX 5 Women's<br>฿77,517<br></th>
                                <th>Fuel EX 7 29<br>฿82,467<br></th>
                            </tr>
                            <tr>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                                <td>&emsp;Frame:Alpha Platinum Aluminum</td>
                            </tr>
                            <tr>
                                <td>&emsp;Front Suspension:RockShox Yari RL</td>
                                <td>&emsp;Front Suspension:RockShox Recon Silver</td>
                                <td>&emsp;Front Suspension:RockShox Recon Silver</td>
                                <td>&emsp;Front SuspensionRockShox Reba RL:</td>
                            </tr>
                            <tr>
                                <td>&emsp;Shifters:Shimano SLX M7000, 11 speed</td>
                                <td>&emsp;Shifters:Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;Shifters:Shimano Deore M6000, 10 speed</td>
                                <td>&emsp;Shifters:SRAM NX, 11 speed</td>
                            </tr>
                            <tr>
                                <td>&emsp;Weight:17.5" - 13.20 kg / 29.10 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.97 kg / 33.00 lbs</td>
                                <td>&emsp;Weight:15.5" - 14.51 kg / 32.00 lbs</td>
                                <td>&emsp;Weight:17.5" - 14.51 kg / 32.00 lbs</td>
                            </tr>

                        </table>
                        <div class="pager">
                            <a href="/product">1</a>
                            <a href="/product2">2</a>
                            <a href="/product3">3</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="background-color:rgba(0,0,0,0.8)">
                            <footer>footer</footer>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>